<header class="container">
  <div class="logo-div">
    <a routerLink="/" class="logo">Food Mania</a>
  </div>
  <nav>
    <ul>
      <li>
        <a routerLink="/login">Login</a>
      </li>
      <li class="menu-container">
        <a routerLink="/dashboard"> John </a>
        <div class="menu">
          <a routerLink="/profile">Profile</a>
          <a routerLink="/orders">Orders</a>
          <a routerLink="/logout"> Logout </a>
        </div>
      </li>
      <li>
        <a routerLink="/cart-page">
          Cart<span *ngIf="cartQuantity">{{cartQuantity}}</span>
        </a>
      </li>
    </ul>
  </nav>
</header>
