.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    margin-top: 8rem;
    .details{
        width: 50rem;
        .login {
                display: flex;
                justify-content: center;
                align-items: center;
            }
    }
}
