/* You can add global styles to this file, and also import other style files */
*{
  box-sizing: border-box;
}
html, body { font-size: 16px; height: 100%; font-family: "Quicksand", sans-serif; }
button{
  font-family: "Quicksand", sans-serif;
}
body { margin: 0;}

a {
  text-decoration: none !important;
}

